# Apple
.DS_Store

# Docs
docs/internal/*

# PyCharm
.idea

# pyenv
.python-version

# Environments
.env
!data/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Frontend
assets.json
node_modules*
node_modules/
npm-debug.log*
release
selenium-debug.log
yarn-debug.log*
yarn-error.log*
yarn.lock

# exclude docker env files
docker/.env

# exclude data dump files
*.dump

.gitconfig